/* 导航tab */
/deep/.dxi-tabs{position: relative;padding: 0 20upx!important;}
/deep/.dxi-tabs::before{content: '';display: block;position: absolute;left: 20upx;right: 20upx;bottom: 0;border-bottom: 2upx #dfdfdf solid;}
/deep/.dxi-tabs-item{position: relative;}
/deep/.dxi-tabs-item::before{content: '';display: block;position: absolute;right: -30upx;top: 50%;height: 40upx;margin-top: -18upx;width: 2upx;background-color: #dfdfdf;}
/deep/.dxi-tabs-item:last-child::before{display: none;}


/* 资讯列表 */
.news_lists{padding: 40upx;padding: 10upx 0;position: relative;}
.news_lists::before{content: '';display: block;position: absolute;left: 20upx;right: 20upx;bottom: 0;border-bottom: 2upx #dfdfdf solid;}
.news_lists .lists_box{padding: 30upx;display: flex;}
.news_lists .title{line-height: 44upx;flex: 1;}
.news_lists .img{width: 88upx;height: 88upx;display: flex;margin-left: 20upx;}