.opinion /deep/.dx-cell{margin: 40upx 0;border: 1upx #969696 solid;border-radius: 12upx;}
.opinion /deep/.dx-cell input,.opinion /deep/.dx-cell textarea{font-size: 32upx!important;}
.opinion /deep/.dx-cell .dx-text{min-height: 400upx;}